@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.about, .papers, .resume {
	background-color: #f3f8f8;
	height: 200vh;
	margin-left: 15em;
	color: #424242;
	transition: 500ms;
	
}

.paper{
	line-height: 2;
	font-family: "Times New Roman";
	padding:10px;
	color:black;
}

.home{
	margin-left: 15em;
	height: 100%;
	background-image: url("CERN_particles.png");
	background-repeat: no-repeat;
	background-color: black;
	color: white;
	background-size: 100% auto;
	text-align: center;
	transition: 500ms;

}

.textbox{
  background-color: lightgrey;
  min-width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 90, 0.7);
  margin: auto;
  padding:30px;
}

hr {clear:both;}

.block{
  width: 400px;
  padding: 20px;
  height: auto;
  float: left;
}

#guy{
	float:right;
	width: 400px;
	padding: 20px;
}

#guy_portrait{
  width: 300px;
  margin:auto;
}

@media screen and (max-width: 600px) {
  #guy_portrait, #guy, .block{display:none;}
}

@media screen and (max-width: 960px) {
  .home,.about,.papers,.resume{
	  margin-left: 0em;
	  transition: 0ms;
  }
}


p,h1,h4{
	line-height: 2;
	font-family: "Times New Roman";
	padding:10px;
}
p{
	padding: 15px;
	font-size: 100%;
}
h1{
	text-align: center;
	font-size: 200%;
}
h4{
	font-size: 120%;
}
